@import './base.css';

#app {
  width: calc(100vw - 2rem);
  height: calc(100vh - 1rem);
  margin: var(--outside-margin) calc(2 * var(--outside-margin));
  padding: calc(6 * var(--outside-margin));

  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;

  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}



a,
.clickable {
  text-decoration: none;
  color: hsla(160, 100%, 37%);
  transition: 0.4s;
  opacity: 0.6;
}

.clickable {
  cursor: pointer;
}

@media (hover: hover) {

  a:hover,
  .clickable:hover {
    background-color: hsla(160, 100%, 37%, 0.1);
    opacity: 1;
  }
}